{% extends 'layout.html' %}
{% load bootstrap4 i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<h1 class="my-4">Вход</h1>

<form method="post" action="{% url 'authorization_user' %}">
  {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="list-unstyled text-danger">{{ form.non_field_errors }}</div>
    {% endif %}
    <div class="mb-3">
        <label class="form-label" for="id_username">Имя пользователя</label>
        <input type="text" name="username"
                 autofocus autocapitalize="none" autocomplete="username"
                 maxlength="150" class="form-control"
                 placeholder="Имя пользователя" required id="id_username"
                 value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
    </div>
    <div class="mb-3">
        <label class="form-label" for="id_password">Пароль</label>
        <input type="password" name="password"
               autocomplete="current-password" class="form-control"
               placeholder="Пароль" required id="id_password"
               value="{% if form.password.value %}{{ form.password.value }}{% endif %}">
        {% if form.password.messages.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{ form.password.messages.errors }}</div>
        {% endif %}
    </div>
    <input class="btn btn-primary" type="submit" value="Войти">
</form>
{% endblock content %}