{% extends 'layout.html' %}
{% load bootstrap5 i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
    {{ title }} | {% trans 'Task Manager' %}
{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя пользователя</th>
      <th>Полное имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
      <td>{{ user.date_joined|date:"d.m.Y" }} {{ user.date_joined|time:"H:i" }}</td>
      <td>
          <a href="{% url 'update_user' user.id %}">Изменить</a>
          <br>
          <a href="{% url 'delete_user' user.id %}">Удалить</a>
      </td>
    </tr>
    {% endfor  %}
  </tbody>
</table>
{% endblock content %}